@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  height: 100vh;
  font-family: Raleway, sans-serif;
}
.blog-container {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  background-color: #ccc;
}

.blog {
  grid-column: 2 / 3;
}
