@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

.blog-head-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: #666;
}

.avatar-container {
  height: 128px;
  width: 128px;
}

.avatar-container img {
  object-fit: contain;
  height: 128px;
}

.blog-title, .blog-description {
  font-family: "Titillium Web", sans-serif;
}

.avatar-container, .blog-title, .blog-description {
  margin: 4vh;
}

.blog-title {
  font-size: 2rem;
}

.blog-description {
  width: 80vw;
  text-align: center;
}
