.create-post-scrim {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 20vh auto 30vh;
  background-color: rgba(100,100,100,.7);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  visibility: hidden;
}

.create-post-ui-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 2vh;
  color: #A2A2A2;
}

.create-post-head {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.create-post-title-input {
  display: block;
  font-size: 30px;
  padding: 0px;
  border: none;
}

.create-post-foot {
  display: flex;
  justify-content: space-between;
}
.create-post-content-input {
  width: 98%;
  padding: 5px;
  border: 1px dashed #A2A2A2;
}

.create-post-image-preview,
.create-post-image-preview img,
{
  width: 500px;
}
.create-post-image-preview {
  height: 28vh;
  overflow-y: scroll;
  margin: 5px 0px;
  border: 1px solid grey;
}
.create-post-image-preview > img {
  font-weight: 300;
  text-align: center;
  color: #A2A2A2;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.create-post-image-preview img:before {
  content: "  ";
  display: block;
  margin-top: 50px;
}
.create-post-image-preview img:after {
  content: "\f030" " " attr(alt);

  font-size: 16px;
  font-family: FontAwesome, Raleway;
  color: rgb(100, 100, 100);

  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.create-post-close,
.create-post-post {
  padding: .7rem .5rem;
  font-weight: bold;
  color: #fff;
  border-style: none;
}

.create-post-close {
  background-color: #9DA6AF;
}
.create-post-post {
  background-color: #529ECC;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
//    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa;
}

.visible {
  visibility: visible !important;
}
